@using Sitecore.Mvc

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Captcha Demo</title>
    <script src="~/js/jquery-1.12.0.min.js"></script>
</head>
<body>
    <div>
        @Html.Sitecore().Placeholder("main")
    </div>
</body>
</html>
